apiVersion: apps/v1
kind: Deployment
metadata:
  name: expedientes-service
  namespace: expedientes
  labels:
    app: expedientes-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: expedientes-service
  template:
    metadata:
      labels:
        app: expedientes-service
    spec:
      imagePullSecrets:
      - name: registry-sw2-expedientes
      containers:
      - name: expedientes
        image: registry.digitalocean.com/sw2-expedientes/expedientes-service:latest
        ports:
        - containerPort: 3000
        env:
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: expedientes-config
              key: PORT
        - name: NODE_ENV
          valueFrom:
            configMapKeyRef:
              name: expedientes-config
              key: NODE_ENV
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: expedientes-secret
              key: db-url
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: expedientes-secret
              key: jwt-secret
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: expedientes-config
              key: DB_HOST
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: expedientes-config
              key: DB_PORT
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: expedientes-secret
              key: db-username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: expedientes-secret
              key: db-password
        - name: DB_DATABASE
          valueFrom:
            configMapKeyRef:
              name: expedientes-config
              key: DB_NAME
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "400m"
        livenessProbe:
          httpGet:
            path: /health/live
            port: 3000
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /health/ready
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 5
          timeoutSeconds: 3
